{% extends 'base.html.twig' %}

{% block title %}Кредитный калькулятор{% endblock %}

{% block body %}
    <div class="py-5">

        <h2>Кредитный калькулятор</h2>

        <credit api-url="#"></credit>
    </div>
{% endblock %}